<!--
    文章管理基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>后台布局</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<!--
    文章列表工具栏
-->
<div th:fragment="toolbar" class="ui segment">
    <a class="ui icon button" th:href="@{/admin/article/new}"> <i class="file icon"></i> 新建文章</a>
</div>

<!--
    文章状态标签转换
-->
<div th:fragment="covertToStatusLabel (article)">
    <label th:if="${article.isDisable()}" class="ui red center aligned fluid label">被禁用</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'RAW'}" class="ui grey  center aligned fluid label">未发布</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'AUDITING'}" class="ui orange  center aligned fluid label">审核中</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'PUBLISHED'}" class="ui green  center aligned fluid label">已发布</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'REJECTED'}" class="ui red  center aligned fluid label">被驳回</label>
</div>

<!--
    文章激活禁用按钮
-->
<span th:fragment="convertToEnableDisableButton (article)" sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')">
    <button th:if="${article.isDisable()}" class="ui admin article enable green tiny button"
            th:attr="data-id=${article.id}">激活
    </button>
    <button th:if="${not article.isDisable()}" class="ui admin article disable red tiny button"
            th:attr="data-id=${article.id}">禁用
    </button>
</span>

<!--
    文章表格分页组件
-->
<tfoot th:fragment="pagination (columnSpan)">
<tr>
    <th class="center aligned" th:colspan="${columnSpan}">
        <div th:replace="fragment/pagination :: basic"></div>
    </th>
</tr>
</tfoot>

<div th:fragment="getArticleCover (article)">
    <img th:if="${article.cover == null}" th:src="@{/assets/images/placeholder.png}"
         id="cover-picture" class="ui rounded fluid image"/>
    <img th:if="${article.cover != null}" th:src="@{'/cover/' + ${article.id}}"
         id="cover-picture" class="ui rounded fluid image"/>
</div>

<!--
    我的文章表格组件
-->
<table th:fragment="table-mine (articles)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="six wide">文章标题</th>
        <th class="two wide">作者</th>
        <th class="two wide">所属团契</th>
        <th class="one wide">状态</th>
        <th class="four wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="6">当前还没有内容</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:utext="${article.id}"></td>
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.author.getDisplayName()}"></td>
        <td th:utext="${article.fellowship.displayName}"></td>
        <td>
            <div th:replace="adminFragment/admin-article :: covertToStatusLabel (${article})"></div>
        </td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id}}">查看</a>
            <a th:if="${article.status.name() == 'RAW' or article.status.name() == 'REJECTED'}"
               class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id} + '/edit'}">编辑</a>
        </td>
    </tr>
    </tbody>
    <div th:replace="adminFragment/admin-article :: pagination(6)"></div>
</table>

<!--
    草稿箱、被驳回文章表格组件
-->
<table th:fragment="table-normal (articles)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="nine wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="four wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="4">当前还没有内容</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:utext="${article.id}"></td>
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id}}">查看</a>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id} + '/edit'}">编辑</a>
        </td>
    </tr>
    </tbody>
    <div th:replace="adminFragment/admin-article :: pagination(4)"></div>
</table>

<!--
    待审核文章表格组件
-->
<table th:fragment="table-audit (articles)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="seven wide">文章标题</th>
        <th class="two wide">作者</th>
        <th class="two wide">所属团契</th>
        <th class="four wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="5">当前还没有内容</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:utext="${article.id}"></td>
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.author.getDisplayName()}"></td>
        <td th:utext="${article.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id}}">查看</a>
            <a sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')"
               class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id} + '/audit'}">审核</a>
        </td>
    </tr>
    </tbody>
    <div th:replace="adminFragment/admin-article :: pagination(5)"></div>
</table>

<!--
    已发布文章表格组件
-->
<table th:fragment="table-publish (articles)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="five wide">文章标题</th>
        <th class="two wide">作者</th>
        <th class="two wide">审核人</th>
        <th class="two wide">所属团契</th>
        <th class="four wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="6">当前还没有内容</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:utext="${article.id}"></td>
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.author.getDisplayName()}"></td>
        <td th:utext="${article.auditor.getDisplayName()}"></td>
        <td th:utext="${article.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${article.id}}">查看</a>
            <div th:replace="adminFragment/admin-article :: convertToEnableDisableButton (${article})"></div>
        </td>
    </tr>
    </tbody>
    <div th:replace="adminFragment/admin-article :: pagination(6)"></div>
</table>

<script src="../../websrc/js/lib-001-jquery.js"></script>
<script src="../../websrc/js/lib-002-semantic.js"></script>
</body>
</html>