<!--
后台文章管理组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>后台文章</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<table th:fragment="table (article)" class="ui celled table">
            <a class="ui inverted blue button"  target="_blank">发文章</a>
    <thead>
    <tr>
        <th>文章标题</th>
        <th>用户名</th>
        <th>日期</th>
        <th>所属团契</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr if="${#lists.isEmpty(article)}>
        <td >当前还没有内容</td>
    </tr>
    <tr th:each="item : ${article}">
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.author}"></td>
        <td th:utext="${article.createdDate}"></td>
        <td th:utext="${article.fellowship}"></td>
        <td ><label class="ui green label">已发布</label></td>
        <td ><label class="ui orange label">未发布</label></td>
        <td ><label class="ui red label">待审核</label></td>
        <td ><label class="ui black label">被驳回</label></td>
        <td>
            <a class="ui tiny button" target="_blank">查看</a>
            <a class="ui tiny button" target="_blank">修改</a>
            <button
                    class="ui admin user unlock tiny green button">发布
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script src="../../websrc/js/lib-001-jquery.js"></script>
<script src="../../websrc/js/lib-002-semantic.js"></script>
</body>
</html>