<!--
后台用户管理组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <title>后台用户</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<table th:fragment="table (items)" class="ui celled table">
    <thead>
    <tr>
        <th>用户名</th>
        <th>用户昵称</th>
        <th>用户状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td th:colspan="4">当前还没有内容</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:utext="${item.username}"></td>
        <td th:utext="${item.nickname}"></td>
        <td th:if="${item.isAccountNonLocked() and item.isEnabled()}"><label class="ui black label">正常</label></td>
        <td th:if="${!item.isAccountNonLocked() and item.isEnabled()}"><label class="ui orange label">锁定</label></td>
        <td th:if="${!item.isEnabled()}"><label class="ui red label">禁用</label></td>
        <td>
            <a class="ui tiny button" th:href="@{'/admin/user/' + ${item.username}}" target="_blank">查看</a>
            <button data-username="${item.username}" th:if="${item.isAccountNonLocked()}"
                    class="ui admin user lock tiny red button">锁定
            </button>
            <button data-username="${item.username}" th:if="${not item.isAccountNonLocked()}"
                    class="ui admin user unlock tiny green button">解锁
            </button>
            <button data-username="${item.username}" th:if="${item.isEnabled()}"
                    class="ui admin user disable tiny red button">禁用
            </button>
            <button data-username="${item.username}" th:if="${not item.isEnabled()}"
                    class="ui admin user enalbe tiny green button">激活
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div th:fragment="details (item)" class="ui segment">
    <h2>用户个人资料</h2>
    <div class="ui stackable grid">
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">用户名</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.username}">username</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">账号状态</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui green label" th:if="${item.isAccountNonLocked() and item.isEnabled()}">正常</label>
                <label class="ui orange label" th:if="${!item.isAccountNonLocked() and item.isEnabled()}">锁定</label>
                <label class="ui red label" th:if="${!item.isEnabled()}">禁用</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">昵称</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.nickname}">用户昵称</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">电话</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.telephone)}" class="ui black label"
                       th:utext="${item.telephone}">13568820265</label>
                <label th:if="${#strings.isEmpty(item.telephone)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">邮箱</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.email)}" class="ui black label"
                       th:utext="${item.email}">chopinchen@vip.sina.com</label>
                <label th:if="${#strings.isEmpty(item.email)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">真实姓名</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.name)}" class="ui black label"
                       th:utext="${item.name}">陈阳</label>
                <label th:if="${#strings.isEmpty(item.name)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">性别</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label"
                       th:utext="${item.sex == 1 ? '弟兄' : (item.sex == 2 ? '姊妹' : '未知')}">弟兄</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">联系地址</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.address)}" class="ui black label"
                       th:utext="${item.address}">高新区</label>
                <label th:if="${#strings.isEmpty(item.address)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">创建日期</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.createdDate}">2016年9月18日</label>
            </div>
        </div>
    </div>
</div>

<script src="../../websrc/js/_jquery.js"></script>
<script src="../../websrc/js/_semantic.js"></script>
</body>
</html>