<!--
后台用户管理组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <title>后台用户</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<div th:fragment="details (item)" class="ui segment">
    <h2>用户个人资料</h2>
    <div class="ui stackable grid">
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">用户名</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.username}">username</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">账号状态</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui green label" th:if="${item.isAccountNonLocked() and item.isEnabled()}">正常</label>
                <label class="ui orange label" th:if="${!item.isAccountNonLocked() and item.isEnabled()}">锁定</label>
                <label class="ui red label" th:if="${!item.isEnabled()}">禁用</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">昵称</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.nickname}">用户昵称</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">电话</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.telephone)}" class="ui black label"
                       th:utext="${item.telephone}">13568820265</label>
                <label th:if="${#strings.isEmpty(item.telephone)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">邮箱</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.email)}" class="ui black label"
                       th:utext="${item.email}">chopinchen@vip.sina.com</label>
                <label th:if="${#strings.isEmpty(item.email)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">真实姓名</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.name)}" class="ui black label"
                       th:utext="${item.name}">陈阳</label>
                <label th:if="${#strings.isEmpty(item.name)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">性别</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label"
                       th:utext="${item.sex == 1 ? '弟兄' : (item.sex == 2 ? '姊妹' : '未知')}">弟兄</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">联系地址</label>
            </div>
            <div class="fourteen wide column">
                <label th:if="${not #strings.isEmpty(item.address)}" class="ui black label"
                       th:utext="${item.address}">高新区</label>
                <label th:if="${#strings.isEmpty(item.address)}" class="ui grey label">未填写</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">创建日期</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.createdDate}">2016年9月18日</label>
            </div>
        </div>

        <div class="center aligned row">
            <div class="four wide column">
                <h2>用户角色</h2>
                <div class="ui attached segment">
                    <div th:replace="fragment/admin-user-details :: roleTable(${item})">角色表格</div>
                </div>
                <div class="ui bottom attached segment">
                    <button class="ui admin user add role primary fluid button">添加角色</button>
                </div>
            </div>
            <div class="six wide column">
                <h2>拥有团契所有权</h2>
            </div>
            <div class="six wide column">
                <h2>拥有团契管理权</h2>
            </div>
        </div>
    </div>
</div>

<table th:fragment="roleTable (item)" class="ui celled table">
    <thead>
    <tr>
        <th>角色</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(item.roles)}">
        <td th:colspan="4">该用户还没有任何角色</td>
    </tr>
    <tr th:each="role : ${item.roles}">
        <td th:utext="${role.displayName}"></td>
        <td>
            <button th:attr="data-username=${item.username}, data-role=${role.name}"
                    class="ui admin user remove role tiny red button">移除
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div th:fragment="modal (item)" class="ui admin user role add modal">
    <div class="header" th:utext="'添加角色 - ' + ${item.username}">添加角色</div>
    <div class="content">
        <div class="ui selection fluid dropdown">
            <i class="dropdown icon"></i>
            <div class="default text">请选择角色</div>
            <div class="menu">
                <div th:each="role : ${roles}" class="item"
                     th:attr="data-value=${role.name}"
                     th:utext="${role.displayName}">
                    角色
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui positive button">确定</button>
        <button class="ui negative button">取消</button>
    </div>
</div>

<script src="../../websrc/js/lib-001-jquery.js"></script>
<script src="../../websrc/js/lib-002-semantic.js"></script>
<script>
    $(".ui.admin.user.role.add.modal .dropdown").dropdown();
</script>
</body>
</html>