<!--
后台管理页面导航
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>后台导航</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>
<nav th:fragment="primary" class="ui admin inverted vertical sticky fixed menu">
    <div class="ui inverted accordion">
        <div class="item">
            <h3 class="ui inverted header">
                <i class="user icon"></i>
                <div class="content" sec:authentication="principal.nickname">用户名</div>
            </h3>
        </div>

        <div class="item" sec:authorize="hasRole('ROLE_MANAGE_STATIC_PAGE')">
            <div class="title header"><i class="dropdown icon"></i> 静态页面管理</div>
            <div class="content">
                <a class="item" th:href="@{/admin/static/home}">首页管理</a>
                <a class="item" th:href="@{/admin/static/intro}">教堂简介</a>
                <a class="item" th:href="@{/admin/static/pastor}">主任牧师</a>
                <a class="item" th:href="@{/admin/static/believe}">基督信仰</a>
                <a class="item" th:href="@{/admin/static/newbie}">新人</a>
                <a class="item" th:href="@{/admin/static/worship}">主日崇拜</a>
                <a class="item" th:href="@{/admin/static/fellowship}">团契生活</a>
                <a class="item" th:href="@{/admin/static/service}">主内服侍</a>
                <a class="item" th:href="@{/admin/static/testimony}">见证奉献</a>
                <a class="item" th:href="@{/admin/static/report}">事工报告</a>
                <a class="item" th:href="@{/admin/static/finalcial}">财务报告</a>
                <a class="item" th:href="@{/admin/static/wedding}">教堂婚礼</a>
            </div>
        </div>

        <div class="item" sec:authorize="hasRole('ROLE_MANAGE_USER_STATUS')">
            <div class="title header "><i class="dropdown icon"></i> 用户管理</div>
            <div class=" content">
                <a class="item" th:href="@{/admin/user(type='ADMIN')}">系统管理员</a>
                <a class="item" th:href="@{/admin/user(type='EDITOR')}">网站编辑</a>
                <a class="item" th:href="@{/admin/user(type='FS_ADMIN')}">团契管理员</a>
                <a class="item" th:href="@{/admin/user(type='RE_ADMIN')}">资源管理员</a>
                <a class="item" th:href="@{/admin/user(type='MEMBER')}">团契成员</a>
                <a class="item" th:href="@{/admin/user(type='USER')}">注册用户</a>
            </div>
        </div>

        <div class="item" sec:authorize="hasRole('ROLE_MANAGE_NAVIGATION')">
            <div class="title header"><i class="dropdown icon"></i> 导航管理</div>
            <div class="content">
                <a class="item" th:href="@{/admin/navigation}">一级导航管理</a>
            </div>
        </div>

        <div class="item" sec:authorize="hasRole('ROLE_MANAGE_NOTIFICATION')">
            <div class="title header"><i class="dropdown icon"></i> 通知管理</div>
            <div class="content">
                <a class="item" th:href="@{/admin/notification}">所有通知</a>
                <a class="item" th:href="@{/admin/notification(type='ACTIVATE')}">当前通知</a>
                <a class="item" th:href="@{/admin/notification(type='EXPIRED')}">过期通知</a>
            </div>
        </div>

        <div class="item" sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')">
            <div class="title header"><i class="dropdown icon"></i> 留言管理</div>
            <div class="content">
                <a class="item" th:href="@{/admin/message}">
                    所有<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/message(type=ADVISE)}">
                    建议<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/message(type=QUESTION)}">
                    咨询<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/message(type=SUFFRAGE)}">
                    代祷<span class="ui primary left pointing label">0</span>
                </a>
            </div>
        </div>

        <div class="item">
            <div class="title header"><i class="dropdown icon"></i> 团契管理</div>
            <div class="content">
                <a class="item" sec:authorize="hasRole('ROLE_MANAGE_FELLOWSHIP')"
                   th:href="@{/admin/fellowship}">所有团契</a>
                <a class="item" th:href="@{/admin/user/fellowship}">我的团契</a>
            </div>
        </div>

        <div class="item">
            <div class="title header"><i class="dropdown icon"></i> 文章管理</div>
            <div class="content">
                <a class="item" th:href="@{/admin/article}">
                    我的文章<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/article(type='RAW')}">
                    草稿箱<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/article(type='AUDIT')}">
                    待审核文章<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/article(type='PUBLISH')}">
                    已发布文章<span class="ui primary left pointing label">0</span>
                </a>
                <a class="item" th:href="@{/admin/article(type='REJECT')}">
                    驳回文章<span class="ui primary left pointing label">0</span>
                </a>
            </div>
        </div>

        <div class="item">
            <div class="title header"><i class="dropdown icon"></i> 我的信息</div>
            <div class="content">
                <a class="item" th:href="@{/admin/user/info}">我的资料</a>
                <a class="item" th:href="@{/admin/user/password}">更改密码</a>
                <a class="item user logout"> 退出
                    <form th:action="@{/logout}" method="post">
                    </form>
                </a>
            </div>
        </div>
    </div>
</nav>

<script src="../../websrc/js/lib-001-jquery.js"></script>
<script src="../../websrc/js/lib-002-semantic.js"></script>
<script>
    $(document).ready(function () {
        $('.ui.admin.menu .ui.accordion').accordion('refresh');
        $('.ui.admin.menu .ui.dropdown').dropdown();
    })
</script>
</body>
</html>