<!--
后台文章管理组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>后台布局</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<!-- 我的文章基本组件 -->
<table th:fragment="table-mine (items)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="eight wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="one wide">状态</th>
        <th class="four wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td>当前还没有内容</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:utext="${item.id}"></td>
        <td th:utext="${item.title}"></td>
        <td th:utext="${item.fellowship.displayName}"></td>
        <td th:if="${item.status.name() == 'RAW'}"><label class="ui grey label">未发布</label></td>
        <td th:if="${item.status.name() == 'AUDITING'}"><label class="ui orange label">审核中</label></td>
        <td th:if="${item.status.name() == 'PUBLISHED'}"><label class="ui green label">已发布</label></td>
        <td th:if="${item.status.name() == 'REJECTED'}"><label class="ui red label">被驳回</label></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${item.id}}">查看</a>
            <a th:if="${item.status.name() == 'RAW' or item.status.name() == 'REJECTED'}"
               class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${item.id} + '/edit'}">编辑</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="center aligned" colspan="5">
            <div th:replace="fragment/pagination :: basic"></div>
        </th>
    </tr>
    </tfoot>
</table>

<table th:fragment="table-normal (items)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="eight wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="five wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td>当前还没有内容</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:utext="${item.id}"></td>
        <td th:utext="${item.title}"></td>
        <td th:utext="${item.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${item.id}}">查看</a>
            <a class="ui primary tiny button" target="_blank"
               th:href="@{'/admin/article/' + ${item.id} + '/edit'}">编辑</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="center aligned" colspan="4">
            <div th:replace="fragment/pagination :: basic"></div>
        </th>
    </tr>
    </tfoot>
</table>

<table th:fragment="table-audit (items)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="eight wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="five wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td>当前还没有内容</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:utext="${item.id}"></td>
        <td th:utext="${item.title}"></td>
        <td th:utext="${item.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${item.id}}">查看</a>
            <a sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')" class="ui primary tiny button" target="_blank"
               th:href="@{'/admin/article/' + ${item.id} + '/audit'}">审核</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="center aligned" colspan="4">
            <div th:replace="fragment/pagination :: basic"></div>
        </th>
    </tr>
    </tfoot>
</table>

<table th:fragment="table-publish (items)" class="ui celled selectable sortable table">
    <thead>
    <tr>
        <th class="one wide">文章ID</th>
        <th class="eight wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="five wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td>当前还没有内容</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:utext="${item.id}"></td>
        <td th:utext="${item.title}"></td>
        <td th:utext="${item.fellowship.displayName}"></td>
        <td>
            <a class="ui tiny button" target="_blank" th:href="@{'/admin/article/' + ${item.id}}">查看</a>
            <button sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')" th:if="${item.isDisable()}"
                    class="ui admin article enable green tiny button" th:attr="data-id=${item.id}">激活
            </button>
            <button sec:authorize="hasRole('ROLE_MANAGE_MESSAGE')" th:if="${not item.isDisable()}"
                    class="ui admin article disable red tiny button" th:attr="data-id=${item.id}">禁用
            </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th class="center aligned" colspan="4">
            <div th:replace="fragment/pagination :: basic"></div>
        </th>
    </tr>
    </tfoot>
</table>

<script src="../../websrc/js/lib-001-jquery.js"></script>
<script src="../../websrc/js/lib-002-semantic.js"></script>
</body>
</html>