<!--
后台团契管理组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>后台用户</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<table th:fragment="table (items)" class="ui definition table">
    <thead>
    <tr>
        <th></th>
        <th>创建日期</th>
        <th>所有者</th>
        <th>管理员数量</th>
        <th>文章数量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td th:colspan="6">当前还没有内容</td>
    </tr>

    <tr th:each="item : ${items}">
        <td th:utext="${item.displayName}"></td>
        <td th:utext="${#dates.format(item.createdDate,'yyyy-MM-dd')}"></td>
        <td th:utext="${item.owner.nickname}"></td>
        <td th:utext="${item.admins.size()}"></td>
        <td th:utext="${item.articles.size()}"></td>
        <td>
            <a class="ui tiny button" th:href="@{'/admin/fellowship/' + ${item.name}}" target="_blank">查看</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>