<!--
后台管理页面导航
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>后台导航</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
    <style>
        /*导航高度100%*/
        .ui.vertical.menu {
            height: 100% !important;
            position: fixed;
        }

        /*我的信息标签位置*/
        i.content.icon {
            position: relative;
            right: -105px;
        }

        /*我的信息下拉框位置*/
        .ui.dropdown .menu {
            left: 60px;
            top: 21px;
        }
    </style>
</head>

<body>

<nav th:fragment="primary" class="ui admin vertical inverted sticky menu segment">

    <div class="ui inverted accordion">

        <div class="item">
            <span class="text header" sec:authentication="principal.nickname">用户名</span>
            <div class="ui dropdown right">
                <i class="content icon"></i>
                <div class="menu">
                    <div class="item">我的信息</div>
                    <div class="item">更改密码</div>
                    <div class="item">切换账户</div>
                    <div class="item">退出</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="title header "><i class="dropdown icon"></i> 用户</div>
            <div class=" content">
                <a href="/" class="item">用户管理</a>
                <a href="/" class="item">系统管理员</a>
                <a href="/" class="item">团契所有者</a>
                <a href="/" class="item">团契管理员</a>
                <a href="/" class="item">角色管理</a>
            </div>
        </div>

        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 文章</div>
            <div class="content">
                <a href="/" class="item">我的文章<span class="ui red circular label">2</span></a>
                <a href="/" class="item">待审核文章<span class="ui red circular label">2</span></a>
                <a href="/" class="item">已发布文章<span class="ui red circular label">2</span></a>
                <a href="/" class="item">被拒文章<span class="ui red circular label">2</span></a>
            </div>
        </div>

        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 团契</div>
            <div class="content">
                <a href="/" class="item">团契管理</a>
                <a href="/" class="item">我的团契</a>
            </div>
        </div>

        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 留言</div>
            <div class="content">
                <a href="/" class="item">我的留言<span class="ui red circular label">2</span></a>
                <a href="/" class="item">待分类留言<span class="ui red circular label">2</span></a>
                <a href="/" class="item">建议<span class="ui red circular label">2</span></a>
                <a href="/" class="item">咨询<span class="ui red circular label">2</span></a>
                <a href="/" class="item">代祷<span class="ui red circular label">2</span></a>
            </div>
        </div>

        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 静态页面</div>
            <div class="content">
                <a href="/" class="item">首页图片</a>
                <a href="/" class="item">教堂简介</a>
                <a href="/" class="item">事工报告</a>
                <a href="/" class="item">每周讲道</a>
                <a href="/" class="item">财务报告</a>
                <a href="/" class="item">教堂婚礼</a>
                <a href="/" class="item">主任牧师</a>
            </div>
        </div>
    </div>
</nav>

<script src="../../websrc/js/jquery.js"></script>
<script src="../../websrc/js/semantic.js"></script>
<script>
    //        折叠菜单
    $(document).ready(function () {
        $('.ui.accordion').accordion('refresh');
        $('.ui.dropdown').dropdown();
    })

</script>
</body>
</html>