<!--
文章列表基本组件，用于显示文章列表
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>
<!-- 前端文章列表组件 -->
<div th:fragment="table (title, items)" class="ui segment">
    <h2 class="ui header" th:utext="${title}">文章列表标题</h2>
    <div class="ui items">
        <div th:each="article : ${items}" th:if="${not article.isDisable()}" class="item">
            <a class="ui small image" th:href="@{'/article/' + ${article.id}}" target="_blank">
                <img src="../../public/assets/images/logo.gif"
                     th:src="@{/assets/images/logo.gif}"/>
            </a>
            <div class="content">
                <a class="header" th:utext="${article.title}" th:href="@{'/article/' + ${article.id}}" target="_blank">文章标题</a>
                <div class="meta">
                    <i class="calendar icon"></i> <span th:utext="${#dates.format(article.createdDate, 'yyyy-MM-dd')}">创建日期</span>
                </div>
                <div class="description" th:utext="${article.description}">文章描述</div>
                <div class="extra">
                    <span class="right floated" th:utext="${article.pageView} ? ${article.pageView} : 0">0</span>
                    <i class="right floated user icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>