<!--
文章列表基本组件，用于显示文章列表
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>

<div th:fragment="group-table (title, items)">
    <div class="ui horizontal divider" th:utext="${title}"></div>
    <div th:replace="fragment/article :: table(${items})"></div>
</div>

<!-- 前端文章列表组件 -->
<div th:fragment="table ( items)" class="ui divided items">
    <div th:each="article : ${items}" th:if="${not article.isDisable() and article.status.name() == 'PUBLISHED'}"
         class="item">
        <a class="ui tiny image" th:href="@{'/article/' + ${article.id}}" target="_blank">
            <img src="../../public/assets/images/logo.gif" th:src="@{/assets/images/logo.gif}"/>
        </a>
        <div class="content">
            <a class="header" th:utext="${article.title}" th:href="@{'/article/' + ${article.id}}"
               target="_blank">文章标题</a>
            <div class="meta" th:utext="${article.description}">文章描述</div>
            <div class="extra">
                <span>
                <i class="calendar icon"></i> <span
                        th:utext="${#dates.format(article.createdDate, 'yyyy-MM-dd')}">创建日期</span>
                </span>
                <span>
                <i class="user icon"></i> <span th:utext="${article.pageView} ? ${article.pageView} : 0">0</span>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>