<!--
Html编辑器组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>

<div th:fragment="article-editor (item)">
    <div class="container"></div>
    <div class="article-content" th:utext="${item.getContent()}" style="display: none"></div>
    <input class="input id" th:value="${item.id}" type="hidden"/>
</div>

<div th:fragment="article-audit (item)">
    <div class="container"></div>
    <div class="article-content" th:utext="${item.getContent()}" style="display: none"></div>
    <input class="input id" th:value="${item.id}" type="hidden"/>
</div>

<div th:fragment="article-reader (item)" class="article-reader">
    <div class="container"></div>
    <div class="article-content" th:utext="${item.getContent()}" style="display: none"></div>
</div>

<div th:fragment="dimmer (content)" class="ui dimmer">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="circle notched loading icon"></i>
                <span th:utext="${content}"></span>
            </h2>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.js"></script>
</body>
</html>