<!--
用户重置密码基本组件，用于登陆页面
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>
<!-- 用户登录组件 -->
<div th:fragment="primay" class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui labeled input">
                <label class="ui label">登录账号</label>
                <input class="user forget username" type="text" placeholder="您的登录名"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui labeled input">
                <label class="ui label">电子邮箱</label>
                <input class="user forget email" type="text" placeholder="确定您的账户邮箱"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <button class="ui primary user forget button">重置密码</button>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>