<!--
一级页面 - 首页基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/* 引用基本组件header中的header，head中的元素内容会被基本组件替换掉，这里面的内容仅用于本地测试 */-->
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>
<!-- 活动大图组件 -->
<section th:fragment="section1" id="section1">
    <div class="ui grid">
        <div class="large screen only row">
            <div class="column">
                <div class="ui black inverted huge message page grid center aligned jumbotron">
                    <h1 class="ui inverted huge header">欢迎来到基督教光音堂</h1>
                    <p>神爱世人、甚至将他的独生子赐给他们、叫一切信他的、不至灭亡、反得永生。 约翰福音 3:16</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 用户分流组件 -->
<section th:fragment="section2" id="section2" class="ui grid">
    <div class="centered row">
        <div th:replace="fragment/layout :: circular-picture('/newcomer', '/assets/images/homePage/ss1.png')"></div>
        <div th:replace="fragment/layout :: circular-picture('/worship', '/assets/images/homePage/ss2.png')"></div>
        <div th:replace="fragment/layout :: circular-picture('/fellowship', '/assets/images/homePage/ss3.gif')"></div>
    </div>
</section>

<!-- 六图介绍组件 -->
<section th:fragment="section3" id="section3">
    <div class="ui grid container">
        <div class="six wide column">
            <h2>教堂简介</h2>
            <p>成都高新区基督教光音堂位于成都市高新区天府一街888号（天府一街剑南大道口），是有芬兰设计师设计，典型的北欧简约风格。
                教堂于2013年10月13日开始聚会。教堂之所以叫光音堂是因为设计师在对教堂的设计上充分运用“光”和“声音”的元素。教堂被称为“光之教堂”，钟楼叫“天使之音”；
                “光之教堂”四壁和屋顶都用黑色墙体，使教堂显得庄严而神圣，教堂内正面墙上一副宽9米，高7米的写意画被称为“创造之光”，由芬兰画家精心构思创作，将上帝在起初从空虚混沌渊面黑暗中创造出光与自然、生命的大能尽显出来。
                教堂大门右侧墙上是充分运用光的原理而设计建造的“森林之光”，当太阳光打在玻璃墙上时，户外大树与铸铁管的映像耀然其上，使人仿佛置身于大自然，吮吸大自然的气息和雨露，使人有心旷神怡之感。</p>
            <a class="ui green button">了解更多</a>
        </div>
        <div class="ten wide column">
            <div class="ui three column doubling grid">
                <div class="centered row">
                    <div th:replace="fragment/layout :: circular-picture('/believe', '/assets/images/homePage/s1.jpg')"></div>
                    <div th:replace="fragment/layout :: circular-picture('/sunday', '/assets/images/homePage/s2.jpg')"></div>
                    <div th:replace="fragment/layout :: circular-picture('/service', '/assets/images/homePage/s3.jpg')"></div>
                </div>
                <div class="centered row">
                    <div th:replace="fragment/layout :: circular-picture('/suffrage', '/assets/images/homePage/s4.jpg')"></div>
                    <div th:replace="fragment/layout :: circular-picture('/testimony', '/assets/images/homePage/s5.jpg')"></div>
                    <div th:replace="fragment/layout :: circular-picture('/public', '/assets/images/homePage/s6.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 最新消息组件 -->
<section th:fragment="section4" id="section4">
    <div class="ui grid container">
        <div class="eight wide column">
            <h2>教堂资讯</h2>
            <div th:replace="fragment/article :: table(${articles})"></div>
        </div>
        <div class="eight wide column">
            <h2>团契文章</h2>
            <div th:replace="fragment/article :: table(${articles})"></div>
        </div>
    </div>
</section>

<!-- 媒体资源组件 -->
<section th:fragment="section5" id="section5">
    <div class="ui grid container">
        <div class="row">
            <div class="column">
                <div class="ui horizontal divider">媒体资源</div>
            </div>
        </div>
        <div class="ui centered green card">
            <div class="content">
                <img class="right floated ui image" src="../../public/assets/images/placeholder.png"
                     th:src="@{/assets/images/placeholder.png}"/>
                <div class="header">荣耀的帮助者</div>
                <div class="meta"><i class="user icon"></i> <span>作者：（美）珀尔</span></div>
                <div class="description">
                    明白尊重和荣耀丈夫便是荣耀上帝，从而享受奇妙美好的婚姻。
                </div>
                <div class="ui horizontal hidden divider"></div>
                <div class="extra content">
                    <div class="ui green button fluid">在线阅读</div>
                </div>
            </div>
        </div>
        <div class="ui centered orange card">
            <div class="content">
                <img class="right floated ui image" src="../../public/assets/images/placeholder.png"
                     th:src="@{/assets/images/placeholder.png}"/>
                <div class="header">你真配得赞美</div>
                <div class="meta"><i class="user icon"></i> <span>歌手：	小羊诗歌</span></div>
                <div class="description">
                    太阳不足彰颢祢光辉
                    蓝天装不下祢的意念
                    繁星数不尽祢的恩典
                    群山无以表明祢威严
                </div>
                <div class="ui horizontal hidden divider"></div>
                <div class="extra content">
                    <div class="ui orange button fluid">在线试听</div>
                </div>
            </div>
        </div>
        <div class="ui centered orange card">
            <div class="content">
                <img class="right floated ui image" src="../../public/assets/images/placeholder.png"
                     th:src="@{/assets/images/placeholder.png}"/>
                <div class="header">如鹰展翅上腾</div>
                <div class="meta"><i class="user icon"></i> <span>歌手：	生命河灵粮堂</span></div>
                <div class="description">
                    神已听见我的呼求
                    祂也明白我的渴望
                    放下重担 脱去一切缠累
                    恢复神造我的荣美形象
                </div>
                <div class="ui horizontal hidden divider"></div>
                <div class="extra content">
                    <div class="ui orange button fluid">在线试听</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/* 引用页脚组件 */-->
<div th:replace="fragment/footer :: footer">页脚</div>
<script src="../../public/assets/js/joshua.min.js" th:src="@{/assets/js/joshua.min.js}"></script>
</body>
</html>