<!--
HTML 布局基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>

<!-- 标题组件 -->
<div th:fragment="header (title)" class="ui layout header">
    <h1 class="ui orange header" th:utext="${title}">布局标题</h1>
    <div class="ui dividing header"></div>
</div>

<!-- 大图组件 -->
<div th:fragment="picture (src)" class="ui rounded fluid image">
    <img src="#" th:src="@{'/assets/images/' + ${src}}"/>
</div>

<div th:fragment="divider (title)" class="ui horizontal divider" th:utext="${title}"></div>

<!-- 圣经经句组件 -->
<div th:fragment="verse (content, location)" class="ui raised padded black segment">
    <p th:utext="${content}">神爱世人，甚至将他的独生子赐给他们，叫一切信他的，不至灭亡，反得永生。</p>
    <a class="ui black right ribbon label" th:utext="${location}">约翰福音3:16</a>
</div>

<!-- 小标题组件 -->
<h2 th:fragment="subheader (title)" class="ui header" th:utext="${title}">小标题</h2>

<!-- 段落组件 -->
<div th:fragment="paragraph (content)">
    <p th:utext="${content}"></p>
</div>

<!-- 图片效果图组件 -->
<div th:fragment="joshua-picture (url, picture)" class="joshua normal picture">
    <a th:href="@{${url}}">
        <img class="ui medium image" th:src="@{${picture}}"/>
    </a>
</div>

<!-- 图片效果图组件 -->
<div th:fragment="joshua-picture-mobile (url, picture)" class="joshua normal picture" style="width: 33.3%">
    <a th:href="@{${url}}">
        <img class="ui medium image" th:src="@{${picture}}"/>
    </a>
</div>

<!-- 图片效果图组件 -->
<div th:fragment="circular-picture (url, picture)" class="joshua circular picture">
    <a th:href="@{${url}}">
        <img class="ui medium circular image" th:src="@{${picture}}"/>
    </a>
</div>

<!-- 推荐链接组件 -->
<div th:fragment="recommend-link (title, description, link)" class="ui card">
    <div class="content">
        <div class="header" th:utext="${title}"></div>
        <div class="description" th:utext="${description}"></div>
    </div>
    <div class="extra content">
        <a class="ui animated fluid button" href="#" th:href="@{${link}}" target="_blank">
            <div class="visible content">开始阅读</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </a>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>