<!--
用户登陆基本组件，用于登陆页面
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>
<!-- 用户登录组件 -->
<div th:fragment="login" class="ui stackable grid">
    <div class="eleven wide column">
        <div th:replace="fragment/layout :: header (title='光之教堂，天使之音')"></div>
        <div th:replace="fragment/layout :: verse ('神爱世人，甚至将他的独生子赐给他们，叫一切信他的，不至灭亡，反得永生。 ', '约翰福音 3:16')"></div>

        <div class="ui fluid rounded image">
            <img src="../../public/assets/images/staticPage/loginPage.jpg"
                 th:src="@{/assets/images/staticPage/loginPage.jpg}"
                 alt="基督教光音堂"/>
        </div>
    </div>
    <div class="five wide column">
        <div class="ui error message" th:if="${login == 'failed'}">
            登录失败，用户不存在或者密码错误
        </div>
        <div class="ui success message" th:if="${logout == 'success'}">
            注销成功，请重新登录
        </div>
        <div class="ui success message" th:if="${logon == 'success'}">
            注册成功，请登录
        </div>
        <div class="ui error message" th:if="${logon == 'failed'}">
            注册失败，用户名或邮箱已经存在
        </div>
        <div class="ui raised segment">
            <h3>老用户 在此登录</h3>
            <form class="ui form" action="#" th:action="@{/login}" th:object="${user}" method="post">
                <div class="field">
                    <input type="text" th:field="*{username}" placeholder="用户名" minlength="8"/>
                </div>
                <div class="field">
                    <input type="password" th:field="*{password}" placeholder="密码" minlength="8"/>
                </div>
                <button class="ui button" type="submit">登录</button>
                <a href="#" th:href="@{/forget}">忘记密码？</a>
            </form>
        </div>
        <div class="ui raised segment">
            <h3>新用户 在此创建您的账户</h3>
            <form class="ui form" action="#" th:action="@{/logon}" th:object="${user}" method="post">
                <div class="field">
                    <input class="login nickname" type="text" th:field="*{nickname}" placeholder="昵称，用于显示您的网站称呼"
                           required="required"/>
                    <div class="ui popup">
                        <div class="header">账号昵称</div>
                        <div class="content">您的昵称将用于网站的显示，以及别人看到您的称呼</div>
                    </div>
                </div>
                <div class="field">
                    <input class="login username" type="text" th:field="*{username}" placeholder="用户名，至少为8位字母数字的组合"
                           required="required"
                           minlength="8"/>
                    <div class="ui popup">
                        <div class="header">用户名</div>
                        <div class="content">用户名是您登陆的ID，用户名必须以下划线或者字母开头，至少为8位，不区分大小写</div>
                    </div>
                </div>
                <div class="field">
                    <input class="login email" type="email" th:field="*{email}" placeholder="邮箱，用于找回密码"
                           required="required"/>
                    <div class="ui popup">
                        <div class="header">邮箱</div>
                        <div class="content">邮箱是找回密码的重要资料，请准确填写</div>
                    </div>
                </div>
                <div class="field">
                    <input class="login password" type="password" th:field="*{password}" placeholder="密码，至少为8位字母数字的组合"
                           required="required"
                           minlength="8"/>
                    <div class="ui popup">
                        <div class="header">密码</div>
                        <div class="content">密码至少为8位，只能是数字和字母以及下划线的组合</div>
                    </div>
                </div>
                <button class="ui button" type="submit">注册</button>
            </form>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>