<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>

<!-- 全局消息框基本组件，用于显示在每个页面导航栏下部，如果没有全局消息，或者全局消息已经过期，则不显示整个组件 -->
<div th:fragment="global (item)" class="ui message">
    <i class="close icon"></i>
    <div class="header" th:utext="${item.title}">通知标题</div>
    <p th:utext="${item.content}">通知内容</p>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>