<!--
分页基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>

<div th:fragment="basic" class="ui pagination menu ">
    <a class="icon item"
       th:href="@{${pagination.url}(pageNumber=${pagination.firstPage},pageSize=${pagination.pageSize})}">
        <i class="angle double left icon"></i>
    </a>
    <a class="icon item"
       th:href="@{${pagination.url}(pageNumber=${pagination.previousPage},pageSize=${pagination.pageSize})}">
        <i class="angle left icon"></i>
    </a>
    <a th:each="item : ${pagination.items}" class="item"
       th:class="${pagination.currentPage == item ? 'active item' : 'item'}"
       th:href="@{${pagination.url}(pageNumber=${item},pageSize=${pagination.pageSize})}"
       th:utext="${item}">1</a>
    <a class="icon item"
       th:href="@{${pagination.url}(pageNumber=${pagination.nextPage},pageSize=${pagination.pageSize})}">
        <i class="angle right icon"></i>
    </a>
    <a class="icon item"
       th:href="@{${pagination.url}(pageNumber=${pagination.lastPage},pageSize=${pagination.pageSize})}">
        <i class="angle double right icon"></i>
    </a>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>