<!--
个人信息页面，用户修改个人信息和密码
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>
<div th:fragment="info (user)" class="ui grid">
    个人信息
</div>


<div th:fragment="password (user)" class="ui grid">
    更改密码
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>