<!--
个人信息页面，用户修改个人信息和密码
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>

<body>
<div th:fragment="info (user)" class="ui grid">
    <div class="column">
        <div class="ui success message" th:if="${publishSuccess}">
            <div class="content">更新我的信息成功</div>
        </div>
        <div class="ui error message" th:if="${publishFailed}">
            <div class="content">更新我的信息失败</div>
        </div>
        <form class="ui form" th:action="@{/api/user/info}" th:object="${user}" method="post">
            <h4 class="ui dividing header">我的账户名: <span th:utext="*{username}"></span></h4>
            <div class="inline field">
                <label>我的昵称</label>
                <input type="text" th:field="*{nickname}"/>
            </div>
            <div class="inline field">
                <label>我的姓名</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div class="inline field">
                <label>我的电话</label>
                <input type="text" th:field="*{telephone}"/>
            </div>
            <div class="inline field">
                <label>我的邮箱</label>
                <input type="text" th:field="*{email}"/>
            </div>
            <div class="inline field">
                <label>我的联系地址</label>
                <input type="text" th:field="*{address}"/>
            </div>
            <div class="inline fields">
                <label>怎么称呼我</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="sex" th:field="*{sex}" th:value="1"/>
                        <label>弟兄</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="sex" th:field="*{sex}" th:value="2"/>
                        <label>姊妹</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="sex" th:field="*{sex}" th:value="0"/>
                        <label>我不方便透露</label>
                    </div>
                </div>
            </div>
            <button class="ui primary button" type="submit">修改我的状态</button>
        </form>
    </div>
</div>


<div th:fragment="password (user)" class="ui grid">
    <div th:replace="fragment/layout :: header (title='更改密码')"></div>
    <div class="row">
        <div class="column">
            <div class="ui labeled input">
                <div class="ui label">新的密码</div>
                <input id="new-password" type="password" placeholder="请输入新的密码"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui labeled input">
                <div class="ui label">确认密码</div>
                <input id="confirm-password" type="password" placeholder="请再输入一次新密码"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <button class="ui primary user password submit button">确认更改</button>
        </div>
    </div>
    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>