<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
</head>
<body>

<div th:replace="adminFragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="adminFragment/admin-layout :: header('团契详细信息', ${subtitle})">布局标题</div>

    <div class="ui grid">
        <div class="four wide column">
            <div class="ui horizontal divider">团契基本信息</div>
            <div th:replace="adminFragment/admin-fellowship-details :: details(${item})"></div>
            <div class="ui horizontal divider">团契管理员</div>
            <div th:replace="adminFragment/admin-fellowship-details :: admin-table(${item.admins})"></div>
        </div>
        <div class="six wide column">
            <div class="ui horizontal divider">团契留言信息</div>
            <div th:replace="adminFragment/admin-message :: table2(${item.messages})"></div>
        </div>
        <div class="six wide column">
            <div class="ui horizontal divider">团契已发布文章</div>
            <div th:replace="fragment/article :: table(${item.articles})"></div>
        </div>
    </div>

    <div th:replace="adminFragment/admin-fellowship-details :: transfer-modal(${item})">更改所有者对话框</div>
    <div th:replace="adminFragment/admin-fellowship-details :: admins-modal(${item})">添加管理员对话框</div>

    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script th:src="@{/assets/js/adminFellowshipDetails.js}"></script>
</body>
</html>