<!--
    文章审核详细页面
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
</head>
<body>

<div th:replace="adminFragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="adminFragment/admin-layout :: header(${subtitle}, '文章审核')">布局标题</div>
    <div th:if="${error}" class="ui error message" th:utext="${error}">没有找到文章</div>

    <div th:if="${#strings.isEmpty(error)}" class="ui grid article-audit">
        <div class="twelve wide column">
            <div class="ui horizontal divider">文章基本信息</div>

            <div class="ui grid">
                <div class="six wide column">
                    <div class="ui segment">
                        <label class="ui icon button fluid">文章封面</label>
                        <div class="ui dividing header" style="margin-top: 1rem"></div>
                        <div th:replace="adminFragment/admin-article :: getArticleCover(${item})"></div>
                    </div>
                </div>
                <div class="ten wide column">
                    <table class="ui celled table">
                        <tbody>
                        <tr>
                            <td>标题</td>
                            <td class="input title" th:utext="${item.title}">标题</td>
                        </tr>
                        <tr>
                            <td>所属团契</td>
                            <td class="input fellowship" th:utext="${item.fellowship.displayName}">所属团契</td>
                        </tr>
                        <tr>
                            <td>描述</td>
                            <td class="input description" th:utext="${item.description}">描述</td>
                        </tr>
                        <tr>
                            <td>作者</td>
                            <td class="input author" th:utext="${item.author.getDisplayName()}">作者</td>
                        </tr>
                        <tr>
                            <td>文章状态</td>
                            <td>
                                <div th:replace="adminFragment/admin-article :: covertToStatusLabel (${item})"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui horizontal divider">操作</div>
            <button class="ui publish button">发布</button>
            <button class="ui reject button">驳回</button>
        </div>
        <div class="sixteen wide column">
            <div class="ui horizontal divider">文章正文</div>
            <div th:replace="fragment/article-editor :: article-audit(${item})">文章审核</div>
            <div th:replace="fragment/article-editor :: dimmer('正在处理文章')"></div>
        </div>
    </div>
    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script th:replace="fragment/header :: script"></script>
</body>
</html>