<!--/* 静态首页管理 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="adminFragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="adminFragment/admin-layout :: header('首页大图管理', '静态页面管理')">布局标题</div>

    <div class="ui grid">
        <div class="six wide column">
            <div class="ui segment">
                <label for="file" class="ui icon button fluid">
                    <i class="file icon"></i> 添加大图</label>
                <input type="file" id="file" name="file" style="display:none" onchange="selectCover(this)"/>
                <div class="ui dividing header"></div>
                <img th:src="@{/assets/images/placeholder.png}" id="cover-picture"
                     class="ui rounded fluid image"/>
                <div class="ui dividing header"></div>
                <button class="ui add slide picture button fluid">确定添加</button>
            </div>
        </div>
        <div class="ten wide column">
            <table class="ui table">
                <thead>
                <tr>
                    <th class="ten wide">已添加图片</th>
                    <th class="six wide">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="image : ${imageGallery}">
                    <td>
                        <img th:src="@{${image}}" th:attr="data-src=@{${image}}"
                             style="width: 240px;height: 60px"/>
                    </td>
                    <td>
                        <button class="ui delete slide picture button" th:attr="data-filename=${image}">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui horizontal divider">点击下面图片预览效果</div>
                <div id="lightGallery" class="ui small images">
                    <a th:each="image : ${imageGallery}" th:href="@{${image}}">
                        <img th:src="@{${image}}" th:attr="data-src=@{${image}}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script th:replace="fragment/header :: script"></script>
</body>
</html>