<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>

<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui segment">
        <h1>500</h1>
        <h2>哦，服务器似乎出现了一丢丢问题</h2>
        <p th:utext="${path}"></p>
        <p th:utext="${exception}"></p>
        <p th:utext="${message}"></p>
        <p th:utext="${trace}"></p>
    </div>
</div>

<div th:replace="fragment/footer :: footer">页脚</div>

<script th:replace="fragment/header :: script" src="../public/assets/js/joshua.min.js"></script>
</body>
</html>