<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div th:replace="fragment/layout :: header (${item.title})">文章标题</div>
        </div>
        <div class="sixteen wide column">
            <div th:replace="fragment/article :: article-status (${item})">文章状态栏</div>
        </div>
        <div class="sixteen wide column">
            <div th:replace="fragment/article :: article-reader(${item})">文章阅读器</div>
        </div>
    </div>
</div>

<!--/* 引用页脚组件 */-->
<div th:replace="fragment/footer :: footer">页脚</div>

<script th:src="@{/assets/js/article.js}"></script>
</body>
</html>