<!--
一级页面 - 基督信仰页面基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>

<!-- 基本组件等待定义 -->
<div th:fragment="component" class="ui grid">
    <div class="twelve wide column">
        <h1>基督信仰</h1>


        <h2>信仰简介</h2>
        <p>
            11
        </p>



        <h2><a  href="#" >更多信息</a></h2>
    </div>
    <div class="four wide column">
        <div th:replace="fragment/navigation :: secondary"></div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>