<!--
一级页面 - 首页基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>
<!-- 活动大图组件 -->
<div th:fragment="section1">
    <p>活动大图组件正在实现中</p>
</div>

<!-- 用户分流组件 -->
<div th:fragment="section2">
    <p>用户分流组件正在实现中</p>
</div>

<!-- 六图介绍组件 -->
<div th:fragment="section3">
    <p>六图介绍组件正在实现中</p>
</div>

<!-- 最新消息组件 -->
<div th:fragment="section4">
    <p>最新消息组件正在实现中</p>
</div>

<!-- 媒体资源组件 -->
<div th:fragment="section5">
    <p>媒体资源组件正在实现中</p>
</div>

<script src="../../public/assets/js/joshua.min.js" ></script>
</body>
</html>