<!--
一级页面 - 好文推荐页面基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>

<!-- 基本组件等待定义 -->
<div th:fragment="component" class="ui raised segment">
    <h1>好文推荐</h1>
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui horizontal divider">深度好文</div>
            <div class="ui list">
                <div class="item">
                    <i class="orange plus icon"></i>
                    <div class="content"><a href="http://sanwen8.cn/p/2503JT9.html">成为圣洁的基督徒</a></div>
                </div>
                <div class="item">
                    <i class="orange plus icon"></i>
                    <div class="content"><a href="http://www.wtoutiao.com/p/18c18vq.html">基督教带给世界的进步和贡献值得每个人去尊重!</a></div>
                </div>
                <div class="item">
                    <i class="orange plus icon"></i>
                    <div class="content"><a href="http://www.360doc.com/content/15/0612/02/22259600_477522047.shtml">基督徒的悔改</a></div>
                </div>
                <div class="item">
                    <i class="orange plus icon"></i>
                    <div class="content"><a href="http://blog.sina.com.cn/s/blog_6d87e5cc0100zc0i.html">科学事实与基督教信仰：二者如何并存？【说说关于进化的问题】</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../public/assets/js/joshua.min.js" ></script>
</body>
</html>
