<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知管理</title>
    <link rel="stylesheet" href="css/semantic.css">
</head>
<body>
<div class="ui container">
    <table th:fragment="table (items)" class="ui celled table">
        <thead>
        <tr>
            <th>序号</th>
            <th>发布者</th>
            <th>发布者昵称</th>
            <th>发布内容</th>
            <th>发布日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(items)}">
            <td th:colspan="1">当前还没有内容</td>
        </tr>
        <tr th:each="item : ${items}">
            <td th:utext="${item.id}">1</td>
            <td th:utext="${item.publisher}">summerboy750</td>
            <td th:utext="${item.publisher_nickname}">litte summer</td>
            <td th:utext="${item.publish_content}">test content 111</td>
            <td th:utext="${item.publish_date}">2016-9-28 23:11:19</td>
            <td th:colspan="4">
                <a class="ui tiny button" th:href="@{'/admin/user/' + ${item.username}}" target="_blank">查看</a>

                <button th:attr="data-username=${item.username}" th:if="${not item.isEnabled()}"
                        class="ui admin user enable tiny green button">操作
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="js/jquery.js"></script>
<script src="js/semantic.js"></script>
<script>


</script>
</body>
</html>