<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知详细信息</title>
    <link rel="stylesheet" href="css/semantic.css">
</head>
<body>

<div th:fragment="details (item)" class="ui segment">
    <h2>通知详细信息</h2>
    <div class="ui stackable grid">
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">发布者</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.publisher}">summer777</label>
            </div>
        </div>

        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">发布者昵称</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.publisher_nickname}">john smith</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">发布内容</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.publish_content}">this is just a test publish content</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">发布内容状态</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui green label" th:if="${item.isAccountNonLocked() and item.isEnabled()}">通过</label>
                <label class="ui orange label" th:if="${!item.isAccountNonLocked() and item.isEnabled()}">审核中</label>
                <label class="ui red label" th:if="${!item.isEnabled()}">拒绝</label>
            </div>
        </div>
        <div class="row">
            <div class="two wide center aligned column">
                <label class="ui black fluid label">发布日期</label>
            </div>
            <div class="fourteen wide column">
                <label class="ui black label" th:utext="${item.publish_date}">2016年9月18日 14：22：32</label>
            </div>
        </div>

    </div>
</div>



<script src="js/jquery.js"></script>
<script src="js/semantic.js"></script>
</body>
</html>