<!--/* 团契首页 - 祷告会临时静态页面 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header ('祷告会')"></div>
            <div th:replace="fragment/layout :: picture ('service/祷告会.jpg')"></div>
            <div th:replace="fragment/layout :: verse ('我又告诉你们：若是你们中间有两个人在地上同心合意的求什么事，我在天上的父必为他们成全。因为无论在哪里，有两三个人奉我的名聚会，那里就有我在他们中间。', '马太福音18章19,20')"></div>

            <div th:replace="fragment/layout :: paragraph ('祷告是神赐给每个信徒的福份丶权利和责任，也是信徒属灵生命的＂呼吸＂和操练。以祷告的方式来进行灵命造就，信心坚固，相信我们的代祷已经到达天父那里，神会按自己的计划、时间和方式来成就，彰显祂的大能和荣耀。')"></div>

            <div th:replace="fragment/layout :: subheader ('主内服侍')"></div>
            <div th:replace="fragment/layout :: paragraph ('每周二晚上 7:15-8:45 弟兄姊妹一起分享和见证神的荣耀，再分享自己需要代祷的事项，大家按着圣灵的带领，先求神的国和神的义，再选择自己有感动的事项，如国家、教会、婚姻家庭、儿女成长以及身心灵的疾病献上代祷。 求神赐给我们祷告的能力、祷告的话语，让我们的祷告越来越合神的心意！ 这样的事工，哪怕时间很少，只要能关怀一两个肢体也是很好的，我们不追求数量，只希望我们这样的事工能帮助到有需要的肢体。求主兴起更多愿意献上自己为祂做工的工人！')"></div>

            <div th:replace="fragment/layout :: subheader ('加入要求')"></div>
            <div th:replace="fragment/layout :: paragraph ('1.	已信主受洗且对新生命/传福音有负担和感动弟兄姊妹都可报名加入。  2.  已信主未受洗，但有固定的读经/祷告/聚会生活，并预备受洗的弟兄姊妹，可报名加入。3.  请准时参加以免中途影响祷告。')"></div>

            <div th:replace="fragment/layout :: subheader ('团契时间')"></div>
            <div th:replace="fragment/layout :: paragraph ('时间：每周二晚上 7:15-8:45 地点：非马艺术馆三楼')"></div>

            <div th:replace="fragment/article :: table('我们的消息','')"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:replace="fragment/header :: script" src="../../../public/assets/js/joshua.min.js"></script>
</body>
</html>