<!--/* 团契首页 - 祷告会临时静态页面 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header ('祷告会')"></div>
            <div th:replace="fragment/layout :: picture ('service/祷告会.jpg')"></div>
            <div th:replace="fragment/layout :: verse ('应当一无挂虑，只要凡事藉着祷告、祈求和感谢，将你们所要的告诉　神。　神所赐出人意外的平安，必在基督耶稣里保守你们的心怀意念。', '腓立比书 4:6-7')"></div>

            <div th:replace="fragment/layout :: paragraph ('祷告是神赐给每个信徒的福份丶权利和责任，也是信徒属灵生命的＂呼吸＂和操练。弟兄姊妹在祷告会中一同记念世界、国家、社区、教会、个人肢体的需要，求主帶领，彼此代祷守望，从祷告中支取力量。')"></div>

            <div th:replace="fragment/layout :: subheader ('聚会內容')"></div>
            <div th:replace="fragment/layout :: paragraph ('弟兄姊妹一起分享和见证神的荣耀；按着圣灵帶领，大家同心向主赞美丶感恩丶认罪立志丶并彼此代求；透过肢体间合一的祷告，弟兄姊妹不但有个人亲近神的时间，也能互相造就，建立在灵里的相交，共同成长; 同时也切切为未得之民的福音需要祷告，交托守望，实践主耶穌吩咐的大使命。欢迎所有主內弟兄姊妹参加。')"></div>

            <div th:replace="fragment/layout :: subheader ('聚会时间')"></div>
            <div th:replace="fragment/layout :: paragraph ('每周二晚上 7:15-8:45')"></div>

            <div th:replace="fragment/layout :: subheader ('聚会地点')"></div>
            <div th:replace="fragment/layout :: paragraph ('教会多功能室(非马美术馆三楼)')"></div>

            <div th:replace="fragment/article :: table('我们的消息','')"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:replace="fragment/header :: script" src="../../../public/assets/js/joshua.min.js"></script>
</body>
</html>