<!--/* 团契首页 - 雅歌团契临时静态页面 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header ('雅歌团契')"></div>
            <div th:replace="fragment/layout :: picture ('service/雅歌团契.jpg')"></div>
            <div th:replace="fragment/layout :: verse ('耶和华神说：“那人独居不好，我要为他造一个配偶帮助他。”', '创世纪2章:18节')"></div>
            <div th:replace="fragment/layout :: verse ('爱情，众水不能息灭，大水也不能淹没，若有人拿家中所有的财宝要换爱情，就全被藐视。', '雅歌8：7')"></div>

            <div th:replace="fragment/layout :: subheader ('团契介绍')"></div>
            <div th:replace="fragment/layout :: paragraph ('“雅歌“出自圣经雅歌，描写新郎与新娘之间单纯，长久，合神心意的爱情，”未婚“指没有婚姻经历。团契于2015年5月2日在光音堂成立，主要由没有婚姻经历的基督教青年组成，每月的第三周组织一次活动，活动具体时间和地址会在主日事工报告里公布，内容有见证分享，灵修， 聚餐，外出活动等等。目的是预备自己，树立合神心意的婚姻观，如何找对另一半，恋爱指南，如何进入婚姻等交流学习，婚前辅导。    ')"></div>

            <div th:replace="fragment/layout :: subheader ('加入要求')"></div>
            <div th:replace="fragment/layout :: paragraph ('雅歌未婚团契欢迎没有婚姻经历的人加入，要求：1. 没有婚姻经历的人，可单身，也可以是正在恋爱，还未举办婚礼；2.  想要学习如何预备自己， 给对方一个优质的爱人，做情侣的好情侣。')"></div>

            <div th:replace="fragment/layout :: subheader ('加入团契微信群要求')"></div>
            <div th:replace="fragment/layout :: paragraph ('在满足上面要求的基础上，需要：1．参加3次本团契活动以上（含3次），和大家见面有基本的认识了解。2. 对信仰有追求，能稳定读经，祷告，唱赞美诗，稳定参加基督教会。不是走马观花。3. 爱主爱人，尊重牧师及各位团长，组长等教会服侍人员，遵守神的律法，教会规定，团契规则要求。注：够要求的，申请团契职员和指导老师中的其中一位，职员邀请进入，禁止私自拉人进群。')"></div>

            <div th:replace="fragment/layout :: subheader ('团契反对')"></div>
            <div th:replace="fragment/layout :: paragraph ('如有发现有以下几种情况，团契可单方面要求其退出雅歌未婚团契，情结严重的，上报教会，加入黑名单。1.	不以婚姻为目，心虚，思想不健康的。2.	发广告，投票链接等提醒后不改，拉人到本教会外的其他组织的。3.	有多个男（女）朋友，未婚同居，未婚怀孕的。4.	有损基督教，有损教会，对团契造成重大危害损失的。')"></div>

            <div th:replace="fragment/layout :: subheader ('团契倡导')"></div>
            <div th:replace="fragment/layout :: paragraph ('1. 追求圣洁生活，鼓励团契成员多看圣经，唱赞美，祷告，读基督教书籍在独处中建立和神的亲密关系，鼓励还没受洗的弟兄姐妹到周日的慕道班（09：00-10：00在教会3楼）和洗礼班学习。也鼓励大家参加教会的主日崇拜，聚会查经，祷告会，青年团契，教会组织的外出活动等等。2.读基督教信仰书籍：（1）.《如何找对另一半》 作者：袁大同。        “有些人为和他们所爱的人结婚这件事祷告。而我却有所不同：我谦卑地祷告，祈求上帝让我爱上能和我结婚的人”（2）.  《爱与罪》      “如果一个年轻人所中意的那个女孩全部符合标准的话，现在该做什么呢?最难的问题还没解答：上帝在这这件事情上对你的引领。”（3）.  《圣经》        万军之耶和华以色列的　神对一切被掳去的，就是我使他们从耶路撒冷被掳到巴比伦的人如此说：“你们要盖造房屋，住在其中；栽种田园，吃其中所产的；娶妻生儿女，为你们的儿子娶妻，使你们的女儿嫁人，生儿养女，在那里生养众多，不至减少。耶29:4               耶稣说：“盗贼来，无非要偷窃、杀害、毁坏；我来了，是要叫羊（或作“人”）得生命，并且得的更丰盛。”  （约10：）                 3.看信仰有关的电影：                 （1）.《战争房屋》    “魔鬼，你折磨我好久了，现在你出局了，带着你的面具离开，耶稣才是我们的一家之主，我的快乐是耶稣给我的“                 4. 鼓励加入教会服侍，周六下午3楼的卫生需要人员服侍以及教会其他服侍等等。也鼓励本团契人员周日一起午餐，运动，举办生日Part，以及和其他团契的联谊会，教会培训班等等（提前申请，需要教会的同意），7月份开办的拉丁舞蹈班已经结束，期待后面还会有。活动联谊之类事情大家可以向吴熙，舒婷提出，有需要各方面指导的同学找周牧师和师母。有开心的事大家一起开心分享， 有心情不好，难过的事情，说出来，我们互相扶持，互相帮助。')"></div>

            <div th:replace="fragment/article :: group-table('我们的消息', ${items})"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>