#section1 {
    height: 450px;
}

#section2 {
    padding: 20px;
    background: rgba(207, 124, 56, 1);
    background: linear-gradient(rgb(212, 153, 60), rgb(140, 52, 30));
}

#section2 .item .header {
    color: white;
}

#section2 .item .description {
    color: white;
}

#section3 {
    color: white;
    padding: 20px;
    background: rgba(55, 60, 61, 1);
}

#section4 {
    color: white;
    padding: 20px;
    background: rgba(57, 117, 33, 1);
    background: radial-gradient(at center center, rgb(56, 130, 56) 0%, rgb(57, 117, 33) 100%);
}

#section4 .item .content .header {
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

#section4 .item .content .header:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

#section4 .item .content .meta {
    color: rgba(255, 255, 255, .85);
}

#section4 .item .content .extra {
    color: rgba(255, 255, 255, .5);
}