/*
    页面容器定义
*/
.joshua.main {
    margin: 2em 0 2em 0;
}

/*
    页面导航容器定义
*/
.joshua.menu.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 154px;

    background: url("../images/background-2.png"), rgb(240, 240, 240);
    opacity: .84;
}

/*
    背景定义
*/
.joshua.wood.background {
    background: url("../images/background-1.png");
    opacity: .87;
}

.joshua.stone.background {
    background: url("../images/background-2.png");
    opacity: .84;
}

/*
    图片显示框架定义
*/
.joshua.picture {
    width: 192px;
    height: auto;
    margin: 12px;

    transition: all 0.5s ease;
}

.joshua.picture:hover {
    transform: rotate(20deg);
}

.joshua.normal.picture img {
    border-radius: 12px;
}

/*
    按钮边框定义
*/
button, .ui.button {
    border: 3px double transparent !important;
}

button, .ui.button:hover {
    border: 3px double rgb(70, 83, 102) !important;

}

button, .ui.button:active {
    border: 3px double rgb(70, 83, 102) !important;
    background-clip: padding-box;
}