/*
    菜单容器定义
*/
.joshua.menu.container {
    background-color: rgba(236, 234, 209, 1);
}

/*
    页面容器定义
*/
.joshua.main {
    margin: 2em 0 2em 0;
}

/*
    图片显示框架定义
*/
.joshua.picture {
    width: 192px;
    height: auto;
    margin: 12px;

    transition: all 0.5s ease;
}

.joshua.picture:hover {
    transform: rotate(20deg);
}

.joshua.picture img {
    border-radius: 12px;
}