<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>
<div class="ui container">
    <table class="ui red table">
        <thead>
        <tr><th>序号</th>
            <th>留言信息</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                 <td>1</td>
                 <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                 <td>2016/9/7</td>
                 <td>
                     <div class="ui button">查看</div>
                     <div class="ui primary button">操作</div>
                 </td>
            </tr>
            <tr>
                <td>1</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>

    </tbody>
    </table>
    <div class="ui borderless menu">
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="item">5</a>
        <a class="item">6</a>
    </div>
</div>
<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>