<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>
<div class="ui container">
    <table class="ui red table">
        <thead>
        <tr><th>序号</th>
            <th>留言信息</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                 <td>1</td>
                 <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                 <td>2016/9/7</td>
                 <td>
                     <div class="ui button look">查看</div>
                     <div class="ui primary button">操作</div>
                 </td>
            </tr>
            <tr>
                <td>2</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button look">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button look">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>用户留言信息 用户留言信息 用户留言信息 用户留言信息</td>
                <td>2016/9/7</td>
                <td>
                    <div class="ui button look">查看</div>
                    <div class="ui primary button">操作</div>
                </td>
            </tr>

    </tbody>
    </table>
    <div class="ui small modal look">
        <div class="header">留言信息</div>
        <div class="content">
            <p>
                用户留言内容用户留言内容用户留言内容
            </p>
        </div>

    </div>
    <div class="ui small modal ads">
        <div class="header">留言归类</div>
        <div class="ui form content">
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden"/>
                        <label>建议</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden"/>
                        <label>咨询</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" tabindex="0" class="hidden"/>
                        <label>代祷</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="actions">
            <div class="ui positive button">确定</div>
            <div class="ui negative button">取消</div>
        </div>
    </div>
    <div class="ui borderless menu">
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="item">5</a>
        <a class="item">6</a>
    </div>
</div>
<script src="../../websrc/js/jquery.js"></script>
<script src="../../websrc/js/semantic.js"></script>
<script>
    //       弹出留言信息
    $('.ui.button.look').click(function () {
        $('.ui.modal.look')
                .modal('show')
        ;
    });
    $('.ui.button.primary').click(function () {
        $('.ui.modal.ads')
                .modal('show')
        ;
    })
</script>
</body>
</html>