<!--
后台管理页面导航
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>基督教光音堂</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>

</head>

<body>
<div class="ui black big launch right attached fixed button">
    <i class="content icon"></i>
    <span class="text">菜单</span>
</div>

<div class="ui vertical inverted sticky menu fixed top">
    <div class="item">
        <a href="" class="ui logo icon "></a>
        <a href="/">
            <i class="user icon big"></i>
            <b>用户名</b>
        </a>
    </div>
    <div class="ui inverted accordion">
        <div class="item">
            <div class="title header"><i class="dropdown icon"></i> 用户管理 </div>
            <div class=" menu">
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
            </div>
        </div>
        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 用户管理 </div>
            <div class="menu">
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
            </div>
        </div>
        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 用户管理 </div>
            <div class="menu">
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
            </div>
        </div>
        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 用户管理 </div>
            <div class="menu">
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
            </div>
        </div>
        <div class="item">
            <div class=" title header"><i class="dropdown icon"></i> 用户管理 </div>
            <div class="menu">
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
                <a href="/" class="item">权限管理</a>
            </div>
        </div>
    </div>

</div>



<script src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>