<!--
后台待审核文章页面
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待审核文章</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
    <style>
        .ui.menu {
            font-size: 1rem;
            border:0;
            box-shadow: 0 0 0 0;
            margin: 0rem 0;
            border-radius: 0;
        }
        .ui.table {
            margin: 0rem 0;
        }
        .ui.menu .item:before {
            display: none;
        }
        /*弹出框*/
        .ui.modal.pass{
            width:300px;
            margin: auto;
        }
        .refudetext{
            width: 700px;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="ui container">
    <div class="ui menu">
        <div class="ui big breadcrumb">
            <div class="item">
                <a class="section">文章</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">待审核文章</div>
            </div>
        </div>
        <div class="right menu">
            <div class="item">
                <a class="ui inverted blue button" href="editArticles.html" target="_blank">发文章</a>
            </div>

        </div>
    </div>
    <table class="ui red table">
        <thead>
        <tr><th>序号</th>
            <th>用户名</th>
            <th>日期</th>
            <th>文章标题</th>
            <th>所属团契</th>
            <th>状态</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>aaa</td>
            <td>2016/9/7</td>
            <td><a href="/">你真配得赞美</a></td>
            <td>青年团契</td>
            <td class="ui pink header small">待审核</td>
            <td>
                <div class="ui breadcrumb">
                    <a class="active section" href="viewArticles.html" target="_blank">查看</a>
                    <i class="divider"> / </i>
                    <a class="active section pass">发布</a>
                    <i class="divider"> / </i>
                    <a class="active section refuse">拒绝</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>aaa</td>
            <td>2016/9/7</td>
            <td><a href="/">你真配得赞美</a></td>
            <td>青年团契</td>
            <td class="ui pink header small">待审核</td>
            <td>
                <div class="ui breadcrumb">
                    <a class="active section" href="viewArticles.html" target="_blank">查看</a>
                    <i class="divider"> / </i>
                    <a class="active section pass">发布</a>
                    <i class="divider"> / </i>
                    <a class="active section refuse">拒绝</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>aaa</td>
            <td>2016/9/7</td>
            <td><a href="/">你真配得赞美</a></td>
            <td>青年团契</td>
            <td class="ui pink header small">待审核</td>
            <td>
                <div class="ui breadcrumb">
                    <a class="active section" href="viewArticles.html" target="_blank">查看</a>
                    <i class="divider"> / </i>
                    <a class="active section pass">发布</a>
                    <i class="divider"> / </i>
                    <a class="active section refuse">拒绝</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>aaa</td>
            <td>2016/9/7</td>
            <td><a href="/">你真配得赞美</a></td>
            <td>青年团契</td>
            <td class="ui pink header small">待审核</td>
            <td>
                <div class="ui breadcrumb">
                    <a class="active section" href="viewArticles.html" target="_blank">查看</a>
                    <i class="divider"> / </i>
                    <a class="active section pass">发布</a>
                    <i class="divider"> / </i>
                    <a class="active section refuse">拒绝</a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="ui small modal pass">
        <div class="header">提示</div>
        <div class="content">
            <p>
                文章已通过审核，确定发布在网页显示吗？
            </p>
            <div class="actions">
                <div class="ui positive button">是</div>
                <div class="ui negative button">否</div>
            </div>
        </div>

    </div>
    <div class="ui modal refuse">
        <div class="header">提示</div>
        <div class="content">
            <p>
                文章未通过审核，确定通知作者修改吗？
            </p>
            <div class="content">
                <h3 class="header">拒绝原因</h3>
                <div class="field">
                    <textarea class="refudetext"></textarea>
                </div>
            </div>

            <div class="actions">
                <div class="ui positive button">是</div>
                <div class="ui negative button">否</div>
            </div>
        </div>

    </div>
    <!--分页栏-->

    <div class="ui pagination menu">
        <a class="active item">
            1
        </a>
        <a class="item">
            2
        </a>
        <a class="item">
            3
        </a>
        <a class="item">
            4
        </a>
    </div>
</div>
<script src="../../websrc/js/jquery.js"></script>
<script src="../../websrc/js/semantic.js"></script>
<script>
    $(document).ready(function () {
//        发布弹出框
        $('.active.section.pass').click(function () {
            $('.ui.modal.pass')
                    .modal('show')
            ;
        });
        //       拒绝弹出框
        $('.active.section.refuse').click(function () {
            $('.ui.modal.refuse')
                    .modal('show')
            ;
        });
    })
</script>
</body>
</html>