<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
</head>
<body>

<div th:replace="fragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="fragment/admin-layout :: header(${title}, '光音堂文章审核')">布局标题</div>
    <div th:if="not ${error}" th:replace="fragment/editor :: article-audit(${item})">文章审核</div>
    <div th:if="not ${error}" th:replace="fragment/editor :: dimmer('正在处理文章')"></div>
    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script th:replace="fragment/header :: script"></script>
</body>
</html>