<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
</head>
<body>

<div th:replace="fragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="fragment/admin-layout :: header('用户管理', ${subtitle})">布局标题</div>
    <div th:replace="fragment/admin-user :: table(${users})">用户表格</div>
    <form class="ui admin user form" th:action="@{/}" th:object="${users}" method="post" style="display: none">
    </form>
</div>

<script th:src="@{/assets/js/joshua.js}"></script>
</body>
</html>