<!--/* 基督信仰 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='基督信仰')"></div>
            <div th:replace="fragment/layout :: picture (src='staticPage/christBelievePage.jpg')"></div>

            <div th:replace="fragment/layout :: verse ('“祂所赐的有使徒，有先知，有传福音的、有牧师和教师，为要成全圣徒，各尽其职，建立基督身体。”', '以弗所书 4：11-12')"></div>

            <div class="joshua content">
                <div class="ui hidden divider"></div>

                <h2>信仰立场</h2>

                <p>光音堂坚持以《圣经》为我们信仰的唯一经典，并认同以下观点：</p>
                <p>一、信神是自有永有的独一真神，是圣父、圣子、圣灵三位而一体，是万物的创造者，是掌管宇宙的主宰。</p>
                <p>
                    二、信耶稣基督是神的儿子，道成肉身，有完全的神人两性，由圣灵感孕，藉童贞女马里亚而生，在十字架上流血舍身，替人赎罪，使人脱离罪的刑罚和权势，三日后从死里复活、升天、现今坐在父神的右边，作中保及大祭司，代圣徒祈求，又为教会元首，将来必亲自显现，从天再临，建立国度，审判活人死人。</p>
                <p>三、信圣灵是三位一体的第三位，在五旬节降临，为要荣耀基督，使罪人知罪悔改，得获重生，并居住及运行在信徒心中，使信徒藉以得胜成圣，又在基督里联为一体，成为教会。</p>
                <p>四、信人是按照神的形像而造，因悖逆神丧失灵命，自始祖犯罪，世人就成为罪人，伏在神的忿怒之下，唯有诚心悔改接受救恩，赖主耶稣基督宝血洁净罪污，藉圣灵重生，方能进入神国。</p>
                <p>五、信新旧两约圣经为神所默示，是神的话语，绝对真确可信，是活泼的生命之道，是信仰和行为的最高准则。</p>
                <p>六、信世人死后都必复活，信主的人复活得生，可享天堂永福，不信的复活定罪，必落地狱受火湖永死，天堂地狱都是永远的。</p>
                <p>七、信魔鬼乃是邪灵，运行在悖逆之人心中，是一切罪恶的根源，将来必受永刑。</p>
                <p>
                    本堂以高举基督广传福音，发扬基督真理，培养信徒灵性，推行福音工作，完成基督的托付为基本宗旨。借着神赐给教会一切资源去建立健全的门徒，以致他们可以建立健全的家去影响整个社群。教会不单希望会众们无论身在那里，那里便有一灯台见证主耶稣基督，更希望教会能立足成都，放眼四川，努力将使命及异象带到世界各地。</p>


                <h2>使命</h2>
                <p>
                    传讲上帝创造奇工；<br/>
                    分享基督救赎大爱；<br/>
                    见证圣灵同在洪福；<br/>
                    坚固信徒生命永恒。<br/>
                </p>

            </div>

        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>