<!--/* 基督信仰 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='基督信仰')"></div>
            <div th:replace="fragment/layout :: picture (src='staticPage/christBelievePage.jpg')"></div>

            <div th:replace="fragment/layout :: verse ('只是要弃绝那世俗的言语和老妇荒渺的话，在敬虔上操练自己。操练身体，益处还少；惟独敬虔，凡事都有益处，因有今生和来生的应许。', '提前4:7-8')"></div>

            <div th:replace="fragment/layout :: paragraph ('教会通常会根据信徒需要，利用节假日举行“培灵会”、“退修会”、“布道会”等，也会与其他兄弟教会进行相互的交流和学习。每当有此类聚会，教会都会提前一月在“事工报告”和“微信公众号”上发出，敬请大家关注。')"></div>

            <div th:replace="fragment/layout :: subheader ('一、灵修的定义和目的')"></div>
            <div th:replace="fragment/layout :: paragraph ('1、渴慕神，亲近神，与神相交；2、灵修以神为中心；3、灵修是让我们成长更像基督；4、灵修是有纪律的操练。')"></div>

            <div th:replace="fragment/layout :: subheader ('二、灵修前的准备')"></div>
            <div th:replace="fragment/layout :: paragraph ('1、时间和场所的选定（选一天当中相对来说比较安静的时刻和一个能够集中精神的地方。）2、准备物（圣经、赞美诗、笔记本、笔）')"></div>

            <div th:replace="fragment/layout :: subheader ('三、灵修的方法')"></div>
            <div th:replace="fragment/layout :: paragraph ('1、以赞美和祷告开始（视实际情况而定）2、读经与默想（怀着祷告的心志读经，最好读三次以上）3、默想问题')"></div>

            <div th:replace="fragment/layout :: subheader ('四、应用')"></div>
            <div th:replace="fragment/layout :: paragraph ('将默想当中所领受的神的话语，实践在自己的实际生活中。')"></div>

            <div th:replace="fragment/layout :: subheader ('五、结束')"></div>
            <div th:replace="fragment/layout :: paragraph ('1、以祷告来结束；2、分享；3、结束语；4、背诵经文。')"></div>

        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>