<!--/* 团契生活 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui grid">
        <div class="column">
            <div th:replace="fragment/layout :: header (title='团契生活')"></div>

            <div class="ui cards">
                <div th:replace="fragment/fellowship :: card('青年团契', '/assets/images/service/青年团契.png', '', 'qntq')"></div>
                <div th:replace="fragment/fellowship :: card('祷告会', '/assets/images/service/祷告会.jpg', '', 'dgh')"></div>
                <div th:replace="fragment/fellowship :: card('蒙恩团契', '/assets/images/service/蒙恩团契.jpg', '', 'metq')"></div>
                <div th:replace="fragment/fellowship :: card('沙龙暖心团契', '/assets/images/service/沙龙团契.jpg', '', 'slnxtq')"></div>
                <div th:replace="fragment/fellowship :: card('查经团契', '/assets/images/service/查经团契.jpg', '', 'cjtq')"></div>
                <div th:replace="fragment/fellowship :: card('迦拿夫妻团契', '/assets/images/service/夫妻团契.png', '', 'jntq')"></div>
                <div th:replace="fragment/fellowship :: card('提摩太团契', '/assets/images/service/提摩太团契.jpg', '', 'tmttq')"></div>
                <div th:replace="fragment/fellowship :: card('雅歌团契', '/assets/images/service/雅歌团契.jpg', '', 'ygtq')"></div>
                <div th:replace="fragment/fellowship :: card('长者团契', '/assets/images/service/长者团契.jpg', '', 'zztq')"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:replace="fragment/header :: script" src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>