<!--/* 团契生活 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui grid">
        <div class="thirteen wide column">
            <div th:replace="fragment/layout :: header (title='团契生活')"></div>

            <div class="ui cards">
                <div th:replace="fragment/fellowship :: card('青年团契', '/assets/images/service/青年团契.png', '“少壮的狮子还缺食忍饿，但寻求耶和华的，什么好处都不缺” 诗篇34：10', 'qntq')"></div>
                <div th:replace="fragment/fellowship :: card('祷告会', '/assets/images/service/祷告会.jpg', '我又告诉你们：若是你们中间有两个人在地上同心合意的求什么事，我在天上的父必为他们成全。因为无论在哪里，有两三个人奉我的名聚会，那里就有我在他们中间。”（马太福音18章19,20）', 'dgh')"></div>
                <div th:replace="fragment/fellowship :: card('蒙恩团契', '/assets/images/service/蒙恩团契.jpg', '神能将各样的恩惠多多地加给你们，是你们凡事常常充足，能多行各样善事。 如经上所记：“他施舍钱财，周济贫穷，他的仁义存到永远。”（哥林多后书9章8，9）', 'metq')"></div>
                <div th:replace="fragment/fellowship :: card('沙龙暖心团契', '/assets/images/service/沙龙团契.jpg', '但那等候耶和华的，必从新得力。他们必如鹰展翅上腾，他们奔跑却不困倦行走却不疲乏。', 'slnxtq')"></div>
            </div>
        </div>
        <div class="three wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:replace="fragment/header :: script" src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>