<!--/* 财务报告 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='财务报告')"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script src="../../public/assets/js/joshua.min.js" th:src="@{/assets/js/joshua.min.js}"></script>
</body>
</html>