<!--
一级页面 - 教堂简介页面基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>

<!-- 基本组件等待定义 -->
<div th:fragment="component" class="ui grid">
    <div class="twelve wide column">
        <h1>光音堂介绍</h1>
        <div class="ui rounded fluid image">
            <img src="../../public/assets/images/meta/psbe.jpg" th:src="@{/assets/images/meta/psbe.jpg}" style="width:600px; height:400px" />
        </div>

        <h2>1.关于我们</h2>
        <p>成都基督教光音堂位于成都市高新区天府一街886号（天府一街剑南大道口），是由芬兰设计师设计，典型的北欧简约建筑风格。该教堂是高新区管委会为要满足天府国际社区外籍人士及周边基督信徒信仰生活需要，由成都高新投资建设集团投资修建，2013年5月交由高新区基督教信徒自主使用和管理的固定宗教处所，该教堂于2013年10月13日开始投入试运行。感恩上帝的带领和赐福。信徒由2013年的47人，增加到现在的1000余人，并与2014年5月成立了成都基督教光音堂第一届管理委员会，实行自主管理。
            目前教会每个礼拜开设了祷告会、查经会、慕道班、洗礼班、要道学习、诗班练习，吗哪查经、老年团契、青年团契、迦拿夫妻团契、雅歌未婚团契、校园团契， 沙龙暖心驿站、以斯帖团契等团契及小组聚会；根据信徒及信徒家属需求，为信徒举行感恩、婚礼、追思等教会礼仪服务。光音堂有专职教牧同工4人，轮值义工160余人。此外制定了较为完善的财务、团契等事工相关规章和制度。
        </p>

        <h2>2.教堂设计理念</h2>
        <p>光音堂以“光”和“声音”为创作理念，层次分明的木质外墙墙体，线条错落有致，让光线以一种优美的方式流动进入，以此来提醒“光”的珍贵。教堂采用北欧质朴的建筑风格，传达出谦卑又庄严的环境氛围。大门设计也独具匠心，阿拉伯数字“7”的造型诠释《圣经》中“7”代表完全，来寓意上帝救恩的完全；教堂两个大门框架按照汉字“阿门”设计，寓意凡进入教堂的人都当诚心诚意；教堂内部竹质地板、石材墙体、竹制长凳表达教堂倡导环保的理念；“创造之光”“森林之光”艺术墙体，不仅能全方位体现环保理念，同时也将光线与声音充分融合，创造一种亲近的黑暗环境，象征着生命，也传达出上帝对众生的重要性。整个教堂由“光之教堂”和“天使之音”两部分组成，“光之教堂”四壁和屋顶都用黑色墙体，使教堂显得庄严而神圣，教堂内正面墙上一副宽9米，高7米的写意画被称为“创造之光”，由北欧当代最重要的油画家之一Nina Roos构思创作，将上帝在起初从空虚混沌渊面黑暗中创造出光与自然、生命的大能尽显出来。教堂大门右侧墙上是充分运用光的原理而设计建造的“森林之光”，当太阳光打在玻璃墙上时，户外大树与铸铁管的映像耀然其上，使人仿佛置身于大自然，吮吸大自然的气息和雨露，使人有心旷神怡之感……！</p>


        <h2>3.教堂设计理念</h2>
        <h3>3.1周日主日崇拜</h3>
        <p>
            基督徒守主日（一周的第一日，即星期日）是为纪念耶稣复活。因为耶稣是在星期日复活的，人们守主日就是记念耶稣的复活、升天。<br />
            参加主日崇拜注意事项：<br />
            （1）进入教堂保持安静，不得高声喧哗；<br />
            （2）手机调到静音或关机；<br />
            （3）准时参加，不迟到，不早退；<br />
            （4）注重着装整洁，不穿过于暴露的服装进入教堂；<br />
            （5）听道时尽量不随意走动，以免影响他人。<br />
            崇拜时间：第一堂9:00-10:15     第二堂10:45-12:00


        </p>

        <h2><a  href="#" >更多信息</a></h2>
    </div>
    <div class="four wide column">
        <div th:replace="fragment/navigation :: secondary"></div>
    </div>

</div>

<script src="../../public/assets/js/joshua.min.js" ></script>
</body>
</html>