<!--
一级页面 - 主任牧师页面基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/* 引用基本组件header中的header，head中的元素内容会被基本组件替换掉，这里面的内容仅用于本地测试 */-->
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>

<body>

<!-- 基本组件等待定义 -->
<div th:fragment="component" class="ui raised segment">
    <h1>主任牧师</h1>
    <h2>赵刚</h2>
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui horizontal divider">成长经历</div>
            <div class="ui list">
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">赵刚牧师出生于基督徒家庭，全家三代信主</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1983年12月25日到教堂参加聚会活动</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1993年7月4日在南充市大东街31号基督教福音堂受洗</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">2003年8月3日按立为副牧师</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">2013年8月25日按立为牧师；同年调成都市基督教会光音堂主任牧师</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1993年9月3日，西充基督教成立，赵刚弟兄开始在西充教会作义工，负责音响等后勤工作</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1993年10月01日——1993年11月01日，参加南充地区基督教首届义工培训班学习</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1994年10月10日——1995年1月10日，参加重庆市基督教义工培训班学习</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1995年5月报考四川神学院，被领取为四川神学院第五届专科班学员</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">1998年7月四川神学院专科毕业，回西充教会侍奉</div>
                </div>
                <div class="item">
                    <i class="green plus icon"></i>
                    <div class="content">2011年9月—2013年7月，四川神学院第十届本科班学员</div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui horizontal divider">现任职位</div>
            <div class="ui list">
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        四川省基督教协会 副会长
                    </div>
                </div>
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        四川省基督教三自爱国运动委员会 副主席
                    </div>
                </div>
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        南充市基督教三自爱国运动委员会 主席
                    </div>
                </div>
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        成都市基督教三自爱国运动委员会 副主席
                    </div>
                </div>
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        中国人民政治协商西充县委员会 委员
                    </div>
                </div>
                <div class="item">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                        成都市高新区基督教光音堂 主任牧师
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* 引用页脚组件 */-->
<div th:replace="fragment/footer :: footer">页脚</div>
<script src="../../public/assets/js/joshua.min.js" th:src="@{/assets/js/joshua.min.js}"></script>
</body>
</html>