<!--/* 主内服侍 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div class="ui container">
    <div th:replace="fragment/navigation :: primary">导航栏</div>

    <div class="ui grid">
        <div class="thirteen wide column">
            <div th:replace="fragment/layout :: header (title='主内服侍')"></div>

            <div class="ui cards">
                <div th:replace="fragment/fellowship :: card('初爱敬拜赞美', '/assets/images/service/敬拜赞美.png', '', 'firstlove')"></div>
                <div th:replace="fragment/fellowship :: card('福音大使', '/assets/images/service/福音大使.png', '', 'fyds')"></div>
                <div th:replace="fragment/fellowship :: card('安保组', '/assets/images/service/安保组.jpg', '', 'abz')"></div>
                <div th:replace="fragment/fellowship :: card('接待组', '/assets/images/service/接待组.jpg', '', 'jdz')"></div>
                <div th:replace="fragment/fellowship :: card('圣餐组', '/assets/images/service/圣餐组.jpg', '', 'scz')"></div>
                <div th:replace="fragment/fellowship :: card('音控组', '/assets/images/service/音控组.jpg', '', 'ykz')"></div>
            </div>
        </div>
        <div class="three wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer">页脚</div>
<script th:replace="fragment/header :: script" src="../../public/assets/js/joshua.min.js"></script>
</body>
</html>