<!--/* 教会代祷 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='教会代祷')"></div>
            <div th:replace="fragment/layout :: picture (src='staticPage/suffragePage.jpg')"></div>

            <div th:replace="fragment/article :: group-table('近期教会代祷', ${items})"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>