<!--/* 教堂婚礼 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='教堂婚礼')"></div>
            <div th:replace="fragment/layout :: picture (src='staticPage/weddingPage.jpg')"></div>

            <div class="ui hidden divider"></div>

            <p>1. 本会只接受恒常聚会的基督徒或完成教会免费的慕道、洗礼班课程并符合受洗条件的准基督徒向我会递交婚礼申请。 </p>
            <p>2. 欲在本堂举行婚礼，须提前至少两个月预约（未受洗者须至少提前半年申请），并出示有效婚姻登记证。 </p>
            <p>3. 教堂是神圣庄严的地方，布置宜简洁庄重。只限于礼堂中间通道两侧布置，如有任何布置超越礼堂中间通道范围，务必于申请时在本表上说明。</p>
            <p>4. 婚礼布置时间安排：婚礼在周一至六进行，婚礼布置时间为当天早上9时后，清场还原时间均为当天下午2时前，逾时每5分钟收费100元。(若婚礼不是在中午时间举行，布置及清场时间另议。)</p>
            <p>5. 婚礼使用的音响及灯光全由本教会提供，不接受另外添加增设备。</p>
            <p>6. 本堂婚礼必须是按教会及政府相关规定认可的牧师主持。</p>
            <p>7. 教堂内要保持安静、清洁、严禁抽烟，严禁在教堂内吃东西，出席婚礼的嘉宾须着装整洁、庄重、大方，婚礼进行时保持肃静。</p>
            <p>8. 教会乃一公众场所，任何个人使用公众资源须自行付费。在本教会受洗并参与本堂服侍的基督徒收费人民币
                2,000元正，非本教会基督徒和未参与本堂服侍的基督徒收费人民币3,000元正，申请人须另缴押金人民币
                2,000元，押金于婚礼清场后，教会确认对教会财务未有污损后退还。新人若邀请本堂圣乐人员献唱须额外支付圣乐人员生活费、车费1200元。</p>
            <p>9. 出于基督教的圣经要求，凡新人有以下行为，教会将单方面取消婚礼：A、婚礼前已同居；B、非首次婚礼；
                C、出于婚礼的目的，欺骗教会；D、不尊重教会信仰和礼仪不听从劝告的；E、婚礼前未达到本堂受洗要求。F、其他有违圣经教导的情况。</p>
            <p>10. 符合以上条件，新人可以向教会领取并填写《婚礼预约申请表》并递交本会牧师审批；然后新人将场地费及押金转入我会制定账户（本堂不收取现金），最后与主婚牧师洽谈婚礼细节安排事宜。</p>

            <p>开户行：农业银行成都新南支行；户名：成都基督教光音堂；账号：2292 0901 0401 91468</p>

        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>