<!--/* 主日崇拜 */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div th:replace="fragment/layout :: header (title='主日崇拜')"></div>
            <div th:replace="fragment/layout :: picture (src='staticPage/worshipPage.jpg')"></div>

            <div class="joshua content">
                <div class="ui hidden divider"></div>
                <p>
                    本堂信徒均相信耶稣基督是在礼拜天死而复活，成就了神的救赎大功，所以我们在礼拜天举行崇拜聚会活动。
                </p>
                <p>
                    本堂主日崇拜的时间为：第一堂 9:00—10:15 第二堂10:45—12:00
                </p>
            </div>

            <div th:replace="fragment/article :: group-table('近期主日崇拜', ${items})"></div>
        </div>
        <div class="four wide column">
            <div th:replace="fragment/navigation :: secondary"></div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer">页脚</div>
<script th:src="@{/assets/js/normal.js}"></script>
</body>
</html>